<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370370294561-gc8r1tkqkfvp8ulguhfc8rs6hmi7b0im.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370370294561-gc8r1tkqkfvp8ulguhfc8rs6hmi7b0im</string>
	<key>API_KEY</key>
	<string>AIzaSyAKPZQUG4B05GOrv7cjkcyz4xlUNEhqSTc</string>
	<key>GCM_SENDER_ID</key>
	<string>370370294561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Emparator</string>
	<key>PROJECT_ID</key>
	<string>emparator-28a17</string>
	<key>STORAGE_BUCKET</key>
	<string>emparator-28a17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370370294561:ios:f87c6565502bbe50ad4460</string>
</dict>
</plist>